#conn {
    position:relative;
    left:100px;
    border: none;
    top:20px;
}

#forgetMdp {
    position:relative;
    left : 120px;
    top:5px;
}

#titre {
    position:relative;
    left:10px;
}

#form-container {
    margin : 0 auto;
}
.ng-invalid.ng-touched {
  border: red;
}