<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter infoKilo </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding>
  <ion-list lines="full">
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label  position="floating">Prix kilo</ion-label>
      <ion-input [(ngModel)]="prixKilo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Prix Repassage</ion-label>
      <ion-input [(ngModel)]="prixRepassage" type="text"></ion-input>
    </ion-item>
  </ion-list>
      <ion-button shape="round" id="idBtnAdd" (click)="createInfoKilo()">
        <ion-input type="submit"></ion-input>
         Enregistrer
      </ion-button>
</ion-content>