<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
         <ion-button>
          <a [routerLink]="['/admin']" class="btn">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </a>
          </ion-button>
        <ion-title class="text-center">Factures</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding">
<ion-list>
  <ion-item *ngFor="let facture of factures">
    <ion-label><ion-button class="rounded-circle"
      [routerLink]="['/edit-facture/',facture.id]">
     <ion-icon name="create-outline"></ion-icon>
   </ion-button></ion-label>
    <ion-label [routerLink]="['/detait-facture',facture.id]">
      <p id="pIdnom">{{ facture.id }}</p>
    </ion-label>
    <ion-label [routerLink]="['/detail-facture',facture.id]">
      <p id="pIdnom">{{ facture.type }}</p>
    </ion-label>
    <ion-label [routerLink]="['/detail-facture',facture.id]">
      <p id="pIdnom">{{ facture.montant }}</p>
    </ion-label>
 
    <ion-label><ion-button color="danger" (click)="deleteFacture(facture.id)">
      <ion-icon name="trash-outline">
      </ion-icon></ion-button></ion-label>
  </ion-item>
</ion-list>
  <ion-button shape="round" id="idBtnAdd" (click)="AjoutFacture()"
 >Ajouter nouveau Facture</ion-button>
  </ion-content>
</div>

