<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Employé</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/client']">CLIENTS</ion-item>
      <ion-item [routerLink]="['/employer']">EMPLOYES</ion-item>
      <ion-item [routerLink]="['/Linge']">LINGES</ion-item>
      <ion-item [routerLink]="['/demande-depense']">DEMANDE DEPENSES</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Employé</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
<ion-list>
  <ion-item *ngFor="let employer of employers">
    <ion-label><ion-button class="rounded-circle"
      [routerLink]="['/edit-employer/',employer.id]">
     <ion-icon name="create-outline"></ion-icon>
   </ion-button></ion-label>
    <ion-label [routerLink]="['/detail-employer',employer.id]">
      <p id="pIdnom">{{ employer.nom }}</p>
    </ion-label>
    <ion-label [routerLink]="['/detail-employer',employer.id]">
      <p id="pIdnom">{{ employer.prenom }}</p>
    </ion-label>
    <ion-label><ion-button color="danger" (click)="deleteEmployer(employer.id)">
      <ion-icon name="trash-outline">
      </ion-icon></ion-button></ion-label>
  </ion-item>
</ion-list>
  <ion-button shape="round" id="idBtnAdd" (click)="AjoutEmployer()"
 >Ajouter nouveau Employer</ion-button><br><br>
 <ion-button shape="round" (click)="retour()">Retour</ion-button>
  </ion-content>
</div>

