<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>Linge</ion-item>
      <ion-item [routerLink]="['/client']">Client</ion-item>
      <ion-item [routerLink]="['/employer']">Employer</ion-item>
      <ion-item [routerLink]="['/admin']">Admin</ion-item>
      <ion-item [routerLink]="['/demande-depense']">Demande Dépense</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
<ion-list>
  <ion-item *ngFor="let typeLinge of typeLinges">
    <ion-label><ion-button class="rounded-circle"
      [routerLink]="['/edit-linge/',typeLinge.id]">
     <ion-icon name="create-outline"></ion-icon>
   </ion-button></ion-label>
    <ion-label [routerLink]="['/linge',typeLinge.id]">
      <p id="pIdnom">{{ typeLinge.nom }}</p>
    </ion-label>
    <ion-label><ion-button color="danger" (click)="deleteLinge(typeLinge.id)">
      <ion-icon name="trash-outline">
      </ion-icon></ion-button></ion-label>
  </ion-item>
</ion-list>
  <ion-button shape="round" id="idBtnAdd"
  (click)="AjoutLinge()">Ajouter nouveau linge</ion-button>
  </ion-content>
</div>